# Tạo tài khoản miễn phí tại https://pusher.com
# Sau đó tạo app mới và điền thông tin dưới đây

PUSHER_APP_ID=your_app_id
NEXT_PUBLIC_PUSHER_KEY=your_key
PUSHER_SECRET=your_secret
NEXT_PUBLIC_PUSHER_CLUSTER=ap1
